$orange: #F55B5B;
$lightorange: #EA504E;
$blue: #147FD7;

body {
  width: 100%;
  margin: 0px;
  text-align: center;
  padding-top: 5%;
}

img.bernie {
  width: 500px;
  margin-bottom: 30px;
}

div.canvas-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

div.slider-wrapper {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

div.directions {
  p {
    font-family: 'Freight Sans Book';
    padding: 10px;
    font-size: 30px;
    color: $blue;
    text-transform: uppercase;
    font-weight: bold;
  }
}

div#webcam {
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

div.gallery {
  width: 750px;
  margin-left: auto;
  margin-right: auto;

  div.photo-wrapper {
    height: 150px;
    width: 150px;
    display: inline-block;
    vertical-align: middle;

    img {
      max-height: 140px;
      max-width: 140px;
      padding: 5px;
      margin: auto;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

div.share-btns {
  margin-bottom: 50px;
}

a.btn {
  background-color: $orange;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  height: 45px;
  font-size: 1.2em;
  font-family: 'Freight Sans Book';
  font-weight: 600;
  font-style: normal;
  letter-spacing: .15em;
  box-sizing: border-box;
  border-radius: 3px;
  border: 0;
  padding: 15px;
  margin-right: 15px;

  &:last-of-type {
    margin-right: 0px;
  }

  &:hover {
    background-color: $lightorange;
  }
}

.hidden {
  display: none;
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (max-device-width: 775px) {
  a.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 60%;

    &.btn-webcam {
      display: none;
    }

    &:last-of-type {
      margin-right: auto;
    }
  }

  div.share-btns {
    margin-bottom: 25px;
  }
}