@font-face {
  font-family: 'Freight Sans Book';
  src: url('/fonts/FreightSans-Book.ttf');
}

@font-face {
  font-family: 'Freight Sans Medium';
  src: url('/fonts/FreightSans-Medium.ttf');
}

@font-face {
  font-family: 'Jubilat Medium';
  src: url('/fonts/JubilatMedium-Roman.otf');
}
