@font-face {
  font-family: 'Freight Sans Book';
  src: font-path('FreightSans-Book.ttf');
}

@font-face {
  font-family: 'Freight Sans Medium';
  src: font-path('FreightSans-Medium.ttf');
}

@font-face {
  font-family: 'Jubilat Medium';
  src: font-path('JubilatMedium-Roman.otf');
}
