@font-face {
  font-family: 'Freight Sans Book';
  src: font-url('FreightSans-Book.ttf');
}

@font-face {
  font-family: 'Freight Sans Medium';
  src: font-url('FreightSans-Medium.ttf');
}

@font-face {
  font-family: 'Jubilat Medium';
  src: font-url('JubilatMedium-Roman.otf');
}
