<div class='footer-offset'>
  <footer>
    <p class="address">Bernie 2016<br>PO Box 905<br>Burlington, VT 05402</p>
    <p class="site-title">Paid for by Bernie 2016</p>
    <span class="billionaires">
      <svg width="200" height="40">
        <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="//d2bq2yf31lju3q.cloudfront.net/img/billionaires.svg" width="200" height="40" x="0"></image>
      </svg>
      (not the billionaires)
    </span>
    <p><span class="copyright">© Bernie 2016</span> | <a href="https://berniesanders.com/privacy-policy">Privacy Policy</a></p>
  </footer>
</div>
